main{
    margin: auto;
}

html{
    background-color: white;
}
body{
    background-clip: content-box;
    background-color: #782221;
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    border-right: solid black;

} 

h2 {
    background-color: #dbc2a4;
    width: 85%;
    padding-left: 25px;
}

.titrezoneblanche{
    margin-top: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
} 

section{
    background-color: #782221;
    width: 25%;
}

#deux{
    width: 75%;
    background-color: white;
    padding: 0px 25px;
    text-indent: 0px;
    margin-top: 0%;   
}

